
@import url("reset.css");

/* mein css */

div {
    color: chocolate;
}

p {
    color: blue;
}

li {
    color: cyan;
}

h1 {
    color: bisque;
}
span {
    color: brown;
}
.text {
    color: aqua;
}

.history__text {
    color: blueviolet;
}
.history__text > p {
    color: chartreuse;
}

#id1 {
    color: rgb(255, 188, 80);
}

.history__ul {
    color: coral;
}

.planet__text {
    color: rgb(127, 180, 255);
}




